body{
background:#0b0f1a;
color:white;
font-family:Arial;
text-align:center;
}

input{
padding:10px;
width:350px;
}

button{
padding:10px;
margin-left:10px;
}

pre{
margin-top:20px;
background:#111;
padding:20px;
display:inline-block;
text-align:left;
}

img{
margin-top:20px;
border-radius:10px;
}